<div class="group relative cursor-pointer flex flex-col h-full">
    <div class="relative w-full overflow-hidden rounded-md bg-gray-200 group-hover:opacity-85 lg:h-80">
        <%= image_tag resource.image, class: "h-full w-full object-cover object-center lg:h-full lg:w-full border", alt: resource.title %>
        <% wishlist_item = resource.wishlist_for_user(current_user) %>
        <button 
            aria-label="<%= wishlist_item.present? ? 'Remove from wishlist' : 'Add to wishlist' %>"
            class="absolute z-10 top-0 p-1 stroke-2 <%= wishlist_item.present? ? "text-yellow-500 stroke-yellow-700" : "text-gray-500 stroke-slate-700" %>"
            data-controller="wishlist"
            data-action="click->wishlist#updateWishlist"
            data-wishlist-status="<%= wishlist_item.present? %>"
            data-wishlist-id="<%= wishlist_item&.id %>"
            data-sign-in-path="<%= new_user_session_path %>"
            data-user-id="<%= current_user&.id %>"
            data-resource-id="<%= resource&.id %>"
        >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-10">
                <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0 1 12 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 0 1 3.498 1.307 4.491 4.491 0 0 1 1.307 3.497A4.49 4.49 0 0 1 21.75 12a4.49 4.49 0 0 1-1.549 3.397 4.491 4.491 0 0 1-1.307 3.497 4.491 4.491 0 0 1-3.497 1.307A4.49 4.49 0 0 1 12 21.75a4.49 4.49 0 0 1-3.397-1.549 4.49 4.49 0 0 1-3.498-1.306 4.491 4.491 0 0 1-1.307-3.498A4.49 4.49 0 0 1 2.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 0 1 1.307-3.497 4.49 4.49 0 0 1 3.497-1.307Zm7.007 6.387a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd" />
            </svg>
        </button>
    </div>
    <div class="mt-4 flex flex-col flex-grow">
        <div class="flex flex-grow">
            <div class="mb-8 flex-grow">
                <h3 class="text-sm font-bold">
                    <%= resource.title %>                
                </h3>
                <p class="text-sm font-light text-slate-600"><%= resource.description %></p>
            </div>
            <div class="text-sm flex items-start">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-4">
                    <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
                </svg>
                <span class="text-slate-700 ps-1">(<%= resource.rating %>)</span>
            </div>
        </div>
        <div class="text-sm font-medium text-gray-700 mt-auto">
            <p><%= resource.available_copies %> of <%= resource.total_copies %> available </p>
        </div>
    </div>
</div>